/*****************************************Global CSS************************************/
body,
h1 {
  margin: 0;
}
@font-face {
  font-family: flood;
  src: url(../fonts/FloodStd.otf);
}
.container {
  margin: 0 auto;
  width: 80vw;
}
* {
  color: #354463;
  font-family: Helvetica;
}

/**************************************** Header CSS*********************************/
#head {
  padding: 4vw 22vw;
}
.header {
  text-align: center;
  font: Bold 4.8vw/5.5vw Helvetica;
}

/******************************* Form CSS**********************************/
#form {
  background-image: url(../image/mobile_donation1.png);
  background-size: cover;
}
#Reg-form {
  background-color: #354463;
  padding: 7.52vw 7.52vw 1vw 7.52vw;
}
.text-color {
  color: #ffffff;
}
#tagLine {
  text-align: center;
  font: normal 8vw/10.5vw flood;
}
#tag-head {
  margin: 0 0 5vw 0;
}
#inner-container {
  padding: 7.765vw 0;
}
.form-head {
  font: Bold 5.5vw/14vw Helvetica;
}
.info-text {
  font: normal 2.8vw/1vw Helvetica;
  letter-spacing: 0.1vw;
  visibility: hidden;
}
#names {
  display: flex;
  justify-content: space-between;
}
hr {
  border: 0.2vw solid #c1f7d5;
  opacity: 1;
}
.name {
  width: 28vw;
  position: relative;
}
input {
  background-color: #354463;
  border: none;
  outline: none;
  width: fit-content;
  color: #fff;
}
.input {
  width: 27vw;
}
label {
  position: absolute;
  left: 0;
  width: auto;
  color: #fff;
  transition: 0.2s all;
  cursor: text;
  font-size: 2vw;
  margin-top: 2vw;
}
input:focus ~ label {
  top: -0.3vw;
  color: #00dd22;
}
.address {
  position: relative;
}
.city-info {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.city {
  width: 28vw;
}
#select {
  background-color: #354463;
  border: none;
  color: #c1f7d5;
  width: 11.765vw;
}
.state {
  width: 11.765vw;
}
.state > p {
  visibility: visible;
}
.zip-code {
  width: 14vw;
}
.zip-code > input {
  width: 14vw;
}
.zip-code > label {
  left: 51vw;
}
#email {
  position: relative;
}
#card-detail {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card {
  width: 11.767vw;
}
.card > label {
  top: 6vw;
}
.label > label {
  left: 20vw;
}
#credit-card {
  position: relative;
}
#code {
  width: 25vw;
}
#code > label {
  left: 40vw;
  width: 21vw;
}
#code > hr {
  width: 11.37vw;
  margin-left: 0;
  padding-right: 9vw;
}
.card-input {
  width: 11.765vw;
}
.bottom-text {
  font: Bold 4.5vw/6vw Helvetica;
  margin: 8vw 0;
}
#pay {
  font: Bold 4vw/2vw Helvetica;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 8vw;
  padding: 0.824vw 0vw;
  text-align: center;
}
#link {
  text-decoration: underline;
  font: lighter 4vw/20vw Helvetica;
  letter-spacing: -0.11vw;
  color: #c1f7d5;
}
input::placeholder {
  font-size: 3.5vw;
}
.bottom {
  display: flex;
  flex-direction: column;
}
/*************************Fotter CSS******************************/
footer {
  background-color: #fff;
}
.fotter-brand {
  width: 28.7vw;
  font: Bold 4.6vw/6vw Helvetica;
}
.nav-text > span {
  font: lighter 3vw/1vw Helvetica;
}
.nav-text > p {
  font: lighter 3vw/4.5vw Helvetica;
  padding-top: 0.5vw;
}
#addres {
  width: 28vw;
  margin-top: 0.5vw;
}
.info-fotter {
  width: 19vw;
  text-decoration: underline;
  margin-top: 0.5vw;
}
.font {
  opacity: 1;
  font-family: flood;
}
.font1 {
  font-size: 9vw;
  line-height: 10vw;
}
.footer-font {
  width: 40vw;
  text-align: right;
  margin-left: auto;
}
.fotter-nav {
  width: 75vw;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.nav-text {
  width: 30vw;
  margin: 0 0 13vw 0;
  position: unset;
}
.fotter-container {
  padding: 15vw 0;
}
.nav-text > hr {
  visibility: hidden;
  margin: 0;
}
.order {
  order: 1;
}
.order1 {
  order: 1;
}

/*********************************Media Query for tablet view************************************/
@media screen and (min-width: 426px) {
  /********************header css********************/
  #head {
    padding: 3.778vw 27vw;
  }
  .header {
    font: Bold 3.5vw/3.6vw Helvetica;
  }
  /********************************Form CSS************************************************/
  #form {
    background-image: url(../image/tablet-donation.png);
    background-size: cover;
  }
  #tag-head {
    margin-bottom: 6vw;
  }
  #tagLine {
    text-align: center;
    font: normal 6vw/6.6vw flood;
    padding: 0 8vw;
  }
  .form-head {
    font: Bold 3.8vw/4vw Helvetica;
    margin: 8vw 0 3vw 0;
  }
  .info-text {
    font: normal 1.8vw/2vw Helvetica;
    letter-spacing: 0.1vw;
  }
  input::placeholder {
    font-size: 2.2vw;
  }
  #credit-card {
    margin-top: 4vw;
  }
  .bottom-text {
    font: Bold 3.5vw/5vw Helvetica;
  }
  #pay {
    font: Bold 2.8vw/2vw Helvetica;
    padding: 2.67vw 0vw;
    width: 33.334vw;
  }
  #email {
    position: relative;
  }
  #pay > p {
    margin: 0;
  }
  label {
    margin: 0;
  }
  .bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 8vw;
  }
  #link {
    font: lighter 2.2vw/2.5vw Helvetica;
    align-self: center;
  }
  /*******************************Fotter CSS*****************************/
  .fotter-brand {
    width: 22.7vw;
    font: Bold 3vw/4vw Helvetica;
  }
  .fotter-nav {
    width: auto;
    flex-wrap: wrap;
  }
  .nav-text > span {
    font: lighter 1.8vw/1vw Helvetica;
  }
  .nav-text > p {
    font: lighter 1.8vw/2.5vw Helvetica;
    padding-top: 0.5vw;
  }
  .nav-text {
    width: 18vw;
    margin-bottom: 6.8vw;
    margin-right: 3vw;
  }
  #addres {
    width: 17vw;
  }
  .info-fotter {
    width: 11vw;
  }
  .font1 {
    font-size: 5vw;
    line-height: 4.7vw;
  }
  .footer-font {
    width: 22vw;
    text-align: left;
  }
  .fotter-container {
    padding: 8vw 0 5vw 0;
  }
  .order {
    position: relative;
    left: 31vw;
  }
}

/*********************************Media Query for Desktop view************************************/

@media screen and (min-width: 769px) {
  /************************* header CSS****************************/
  #head {
    padding: 1.81vw 32.2vw;
  }
  .header {
    font: Bold 2vw/2.4vw Helvetica;
  }

  /*********************************************** Form CSS************************************/
  #form {
    background-image: url(../image/desktop1-donation.png);
    background-size: cover;
  }
  #inner-container {
    padding: 7.765vw 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #tagLine {
    font: normal 5vw/5.4vw flood;
    padding: 0;
    width: 30vw;
  }
  .form-head {
    font: Bold 1.9vw/2.6vw Helvetica;
    margin: 5vw 0 2vw 0;
  }
  .name {
    width: 12.556vw;
    position: relative;
  }
  .info-text {
    font: normal 1vw/2vw Helvetica;
    margin-bottom: 0;
  }
  input::placeholder {
    font-size: 0.8vw;
  }
  .input {
    width: 12.556vw;
  }
  label {
    font-size: 1.3vw;
  }
  .address {
    width: 31.556vw;
  }
  .city-info {
    display: flex;
    justify-content: space-between;
    width: 31.556vw;
  }
  #select {
    width: 4.765vw;
  }
  .state {
    width: 5.667vw;
  }
  .zip-code {
    width: 5.667vw;
  }
  .zip-code > input {
    width: 5.6vw;
  }
  .card > label {
    top: 3vw;
  }
  .label > label {
    left: 10vw;
  }
  #code > label {
    left: 20vw;
    width: 11vw;
  }
  #code > hr {
    padding-right: 0vw;
  }
  .city {
    width: 12.556vw;
  }
  #email {
    width: 31.55vw;
  }
  #credit-card {
    width: 31.55vw;
    margin-top: 1.5vw;
  }
  .card {
    width: 4.667vw;
  }
  .card-input {
    width: 4.765vw;
  }
  .zip-code > label {
    left: 25vw;
  }
  #code {
    width: 12vw;
  }
  .bottom-text {
    font: Bold 1.8vw/2.5vw Helvetica;
    margin: 4vw 0;
  }
  #pay {
    font: Bold 1.6vw/2vw Helvetica;
    padding: 0.973vw 0vw;
    width: 17.778vw;
  }
  #link {
    font: lighter 1.4vw/2.4vw Helvetica;
  }
  #Reg-form {
    padding: 4.52vw 6.52vw 0vw 6.52vw;
    width: 31.41vw;
  }
  .bottom {
    margin-bottom: 6vw;
  }

  /*******************************************fotter CSS****************************************/
  .font1 {
    font-size: 3.3vw;
    line-height: 3.1vw;
  }
  .footer-font {
    width: 14vw;
    text-align: right;
    margin-left: 0;
  }
  .fotter-brand {
    width: 12vw;
    font: Bold 1.6vw/2vw Helvetica;
  }
  .fotter-container {
    padding: 6vw 0;
  }
  .nav-text {
    width: 11vw;
    margin: 0 0 0.8vw 3vw;
  }
  .nav-text > hr {
    visibility: visible;
    border: 0.04vw solid #354463;
    margin: 0.5vw 0;
  }
  .nav-text > span {
    font: lighter 1.1vw/1.3vw Helvetica;
    letter-spacing: 0.001vw;
  }
  .nav-text > p {
    font: lighter 1vw/1.5vw Helvetica;
    padding-top: 0;
  }
  #addres {
    width: 10vw;
  }
  .info-fotter {
    width: 6.5vw;
    text-decoration: none;
  }
  .order {
    order: 0;
    position: unset;
  }
}
