/*****************************************Global CSS************************************/
body,
h1 {
  margin: 0;
}
@font-face {
  font-family: flood;
  src: url(../fonts/FloodStd.otf);
}
.container {
  margin: 0 auto;
  width: 80vw;
}
* {
  color: #354463;
  font-family: Helvetica;
}

/**************************************** Header CSS*********************************/
#head {
  padding: 4vw 22vw;
}
.header {
  text-align: center;
  font: Bold 4.8vw/5.5vw Helvetica;
}

/*********************************Media Query for tablet view************************************/
@media screen and (min-width: 426px) {
    /********************header css********************/
    #head {
      padding: 3.778vw 27vw;
    }
    .header {
      font: Bold 3.5vw/3.6vw Helvetica;
    }
}