/********************************* Global CSS***************************************/
@font-face {
    font-family: flood;
    src: url(../fonts/FloodStd.otf);
  }
  body,
  p,
  h1 {
    margin: 0;
  }
  * {
    color: #354463;
    font-family: Helvetica;
  }
  .container {
    margin: 0 auto;
    width: 75vw;
  }
  
  /************************************Header CSS********************************/
  .flex-container {
    display: flex;
    justify-content: space-between;
    padding: 2vw 0;
  }
  #content {
    width: 60vw;
    background: #ffffff 0vw 0vw no-repeat padding-box;
    display: flex;
    justify-content: space-between;
  }
  .nav {
    width: 36vw;
    box-sizing: border-box;
    padding-top: 0.5vw;
  }
  .nav-content {
    display: flex;
    justify-content: space-between;
    padding: 0.4vw 1.1vw 0 2.4vw;
    margin: 1.1vw 0 0 0;
  }
  .nav-content > li {
    list-style-type: none;
    font: lighter 1vw/1vw Helvetica;
    letter-spacing: -0.01vw;
  }
  .brand {
    width: 12vw;
    font: Bold 1.6vw/1.9vw Helvetica;
    letter-spacing: 0;
  }
  #btn {
    margin: 0.9vw 0 0 0;
  }
  .btn-donate {
    width: 8.9vw;
    border-radius: 5vw;
    border: none;
    outline: none;
    font: Bold 1vw/1.7vw Helvetica;
    background: #c1f7d5 0vw 0vw no-repeat padding-box;
    padding: 0.42vw 0;
  }
  a {
    color: #354463;
  }
  
  /*******************************Climate Section CSS**********************************/
.section-climate {
    background: url(../image/annie-spratt-135307-unsplash.png) no-repeat;
    background-size: cover;
    padding: 13vw 0;
  }
  .climate {
    background: #ffffff 0vw 0vw no-repeat padding-box;
    width: 28.4vw;
    position: relative;
  }
  .issue {
    width: 8.34vw;
    background: #354463 0vw 0vw no-repeat padding-box;
    position: absolute;
    left: 2vw;
    top: -1vw;
    display: flex;
    justify-content: center;
    padding: 0.574vw 0;
  }
  #issue-style {
    font: normal 0.8vw/0.95vw Helvetica;
    letter-spacing: 0.06vw;
    color: #ffffff;
  }
  .text-container {
    padding: 3vw 3vw 2vw 3vw;
  }
  .text {
    font: Bold 2.2vw/2.9vw Helvetica;
    letter-spacing: 0;
    padding-top: 0.5vw;
  }
  .text-underline {
    text-decoration: underline;
    font: lighter 0.9vw/5vw Helvetica;
    letter-spacing: -0.03vw;
  }
  .font {
    font-family: flood;
    font-size: 4vw;
    color: #ffffff;
  }
  .climate-container {
    display: flex;
    justify-content: space-between;
  }
  .fonts {
    width: 29vw;
  }

  /***********************#2nd Section CSS ****************************************/
.section-action {
    background: #c1f7d5 0vw 0vw no-repeat padding-box;
    position: relative;
    padding: 3.9vw 0;
  }
  .action-container {
    display: flex;
    justify-content: space-between;
  }
  .action {
    background: #354463 0vw 0vw no-repeat padding-box;
    position: absolute;
    top: -1vw;
    left: 45vw;
    box-sizing: border-box;
    padding: 0.573vw 1.434vw;
  }
  #action-style {
    font: lighter 0.8vw/0.5vw Helvetica;
    letter-spacing: 0.06vw;
    color: #ffffff;
  }
  .bold-text {
    font: Bold 1.6vw/1vw Helvetica;
    letter-spacing: 0;
    margin-bottom: 0.7vw;
  }
  .normal-text {
    font: lighter 0.8vw/1.2vw Helvetica;
  }
  .info-flex {
    width: 11.8vw;
    display: flex;
    flex-direction: column;
  }
 
  /********************************3rd Section CSS**********************************/
.section-info {
    background: #354463 0% 0% no-repeat padding-box;
  }
  .img {
    position: relative;
    top: -1.8vw;
    padding: 5.834vw 8.334vw;
  }
  #read {
    margin: 0.9vw 0 0 0;
  }
  .btn-read {
    width: 8.9vw;
    border-radius: 5vw;
    border: none;
    outline: none;
    font: Bold 1vw/1.7vw Helvetica;
    background: #c1f7d5 0vw 0vw no-repeat padding-box;
    padding: 0.42vw 0;
  }
  #planting {
    background-image: url(../image/tree-planting.png);
    background-size: cover;
  }
  #education {
    background-image: url(../image/education-training.png);
    background-size: cover;
  }
  #advocacy {
    background-image: url(../image/advocacy.png);
    background-size: cover;
  }
  #sub-container {
    padding: 5vw 0 6vw 0;
  }
  .info-card {
    background-color: #ffffff;
    display: inline-block;
    padding: 0.58vw 1.53vw;
    font-size: 0.9vw;
  }
  h1 {
    font-size: 2.9vw;
    color: #fff;
    line-height: 3.4vw;
    padding: 2vw 0 4.5vw 0;
  }
  #box {
    display: flex;
    padding: 2vw 0;
    justify-content: space-between;
  }
  .card-container {
    background-color: #fff;
    width: 16.676vw;
    box-sizing: border-box;
    padding: 0 0 2vw 1.668vw;
  }
  .head-text {
    font: Bold 1.5vw/1.7vw Helvetica;
    padding: 0 0 0.5vw 0;
  }
  .big-card {
    width: 18.343vw;
  }
  .subhead-text {
    font:lighter 0.84vw/1.3vw Helvetica ;
    padding: 0.5vw 0 1vw 0;
  }
  .subhead-text > p {
    padding-right: 1.33vw;
  }

  /***********************************Fotter CSS***************************/
footer {
    background-color: #fff;
  }
  .font1 {
    font-size: 2.5vw;
    line-height: 2.5vw;
    color: #354463;
  }
  .footer-font {
    width: 12vw;
    text-align: right;
  }
  .fotter-brand {
    width: 10vw;
    font: Bold 1.3vw/1.6vw Helvetica;
  }
  .fotter-container {
    padding: 6vw 0;
  }
  .fotter-nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .nav-text {
    width: 9vw;
  }
  .nav-text > span {
    font: lighter 0.8vw/1.2vw Helvetica;
    letter-spacing: 0.001vw;
  }
  .nav-text > p {
    font: lighter 0.7vw/1.02vw Helvetica;
  }
  #addres {
    width: 7vw;
  }
  .info-fotter {
    width: 4.3vw;
  }